<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.trizesolutions.webprint">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Android 12 add -->
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- Needed only if your app makes the device discoverable to Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Needed only if your app communicates with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- hardware option-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <!-- Android 12 add -->


    <application
        android:name="app.com.trizesolutions.webprint.WebPrint"
        android:allowBackup="true"
        android:icon="@mipmap/ic_print"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.com.trizesolutions.webprint.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="webprint" android:host="trize"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name="app.com.trizesolutions.webprint.RelayService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="app.com.trizesolutions.webprint.AuthDialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            />

        <receiver
            android:name="app.com.trizesolutions.webprint.UsbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.com.trizesolutions.webprint.USB_PERMISSION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="app.com.trizesolutions.webprint.BootReceiver"
            android:exported="false"
            android:enabled="true"
            android:label="BootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="app.com.trizesolutions.webprint.BluetoothAuthDialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            />
    </application>

</manifest>